* @cilium/committers
/ladder/teams/alibabacloud.yaml @cilium/alibabacloud
/ladder/teams/api.yaml @cilium/api
/ladder/teams/ariane.yaml @cilium/ariane
/ladder/teams/aws.yaml @cilium/aws
/ladder/teams/azure.yaml @cilium/azure
/ladder/teams/build.yaml @cilium/build
/ladder/teams/certgen.yaml @cilium/certgen
/ladder/teams/ci-structure.yaml @cilium/ci-structure
/ladder/teams/cilium-io.yaml @cilium/cilium-io
/ladder/teams/cli.yaml @cilium/cli
/ladder/teams/contributing.yaml @cilium/contributing
/ladder/teams/docker.yaml @cilium/docker
/ladder/teams/docs-structure.yaml @cilium/docs-structure
/ladder/teams/egress-gateway.yaml @cilium/egress-gateway
/ladder/teams/endpoint.yaml @cilium/endpoint
/ladder/teams/envoy.yaml @cilium/envoy
/ladder/teams/fqdn.yaml @cilium/fqdn
/ladder/teams/github-sec.yaml @cilium/github-sec
/ladder/teams/gke.yaml @cilium/gke
/ladder/teams/helm.yaml @cilium/helm
/ladder/teams/hubble-metrics.yaml @cilium/hubble-metrics
/ladder/teams/hubble-ui.yaml @cilium/hubble-ui
/ladder/teams/ipcache.yaml @cilium/ipcache
/ladder/teams/ipsec.yaml @cilium/ipsec
/ladder/teams/kvstore.yaml @cilium/kvstore
/ladder/teams/loader.yaml @cilium/loader
/ladder/teams/metrics.yaml @cilium/metrics
/ladder/teams/monitor.yaml @cilium/monitor
/ladder/teams/operator.yaml @cilium/operator
/ladder/teams/proxy.yaml @cilium/proxy
/ladder/teams/pwru.yaml @cilium/pwru
/ladder/teams/release-managers.yaml @cilium/release-managers
/ladder/teams/security.yaml @cilium/security
/ladder/teams/sig-agent.yaml @cilium/sig-agent
/ladder/teams/sig-bgp.yaml @cilium/sig-bgp
/ladder/teams/sig-cilium-cli.yaml @cilium/sig-cilium-cli
/ladder/teams/sig-clustermesh.yaml @cilium/sig-clustermesh
/ladder/teams/sig-datapath.yaml @cilium/sig-datapath
/ladder/teams/sig-encryption.yaml @cilium/sig-encryption
/ladder/teams/sig-foundations.yaml @cilium/sig-foundations
/ladder/teams/sig-hubble-api.yaml @cilium/sig-hubble-api
/ladder/teams/sig-hubble.yaml @cilium/sig-hubble
/ladder/teams/sig-ipam.yaml @cilium/sig-ipam
/ladder/teams/sig-k8s.yaml @cilium/sig-k8s
/ladder/teams/sig-lb.yaml @cilium/sig-lb
/ladder/teams/sig-policy.yaml @cilium/sig-policy
/ladder/teams/sig-scalability.yaml @cilium/sig-scalability
/ladder/teams/sig-servicemesh.yaml @cilium/sig-servicemesh
/ladder/teams/tetragon.yaml @cilium/tetragon
/ladder/teams/vendor.yaml @cilium/vendor
/ladder/teams/wireguard.yaml @cilium/wireguard
/ladder/teams/ztunnel.yaml @cilium/ztunnel
